/* reset defaults */
* {
  box-sizing: border-box;
}

/* css variables */
:root {
/* colours */
  --blue:#1126F9;
  --red:#ee1212;
  --lightgrey:#e8e8e8; 
  --darkgrey:#242424; 
  --desktop-color: #e8e8e8;
  --desktop-text-color: #ffffff;

  --title-bar-color: var(--blue);
  --title-bar-text-color: var(--lightgrey);
  --title-bar-highlight-color: var(--blue);
  --title-bar-height: 32px;

  --pane-content-background-color: #e8e8e8;

  /*side bar width*/
  --side-width:200px;

  /* pane dimentions*/
  --pane-default-width: 100%; 
  --pane-default-height: 40%;
  --pane-border-radius: 1px;

   /* main img dimentions*/
   --mimg-width: 100%;
   --ming-height: auto;

  /* scrolling elements*/
  --topscroll: element.scrollTop ;
  touch-action: none

}



html, body{
  background-color: var(--lightgrey);
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: scroll;
  background-image: url('bg_imgs/MAINbg.png');
  font-family: "Times New Roman", Times, serif;
}


 
/* Flex for mobile*/

.positioning{
  position: relative;
}


/* Mobile format*/
@media screen and (max-width: 800px) {
  .sidenav {
    display: none; /* Removes side nav*/
  }
  .container{
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    
  }

  .positioning{
    margin-bottom: 170px;
  }

  .pane{ /* Fixed pane size*/
    grid-template-rows: var(--title-bar-height) 1fr;
    position: absolute;
    width: 90%;
    height: 100%;
    min-width: 160px;
    min-height: 160px;
  }

  .pane .mask img{     /* fixed position doesnt allow moving when scrolling */
   width: 100%;
   height: auto;
   bottom: 0%;
   left: 50%;
   transform: translate(-50%, 0%);
  }

  body { /* main bg image */
   background-size: 90%, auto;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position-x: center;
   background-position-y: bottom;
  }
}

/* Web format */
@media screen and (min-width: 800px) {
  /* Makes space for the side bar when in not mobile */
  .intro{
    margin-left: var(--side-width);
  }

  .container{
    margin-left: var(--side-width);
    grid-template-columns: auto auto auto auto;
    position: relative;
  }

  .positioning{
    margin-bottom: 170px;
  }

  .pane{
    grid-template-rows: var(--title-bar-height) 1fr;
    width: var(--pane-default-width); /* when corner dragged width and height are changed */
    height: var(--pane-default-height);
    min-width: 160px;
    min-height: 160px;
    grid-row: 1;
    position: absolute;
  }

  .pane .mask img{     /* fixed position doesnt allow moving when scrolling */
  width: 50%;
  height: auto;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

  body { /* main bg image */
   background-size: 50%, auto;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position-x: center;
   background-position-y: bottom;
  }
}





h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 42px;
  font-style: italic;
  font-weight: 500;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 200;
}

p {
  font-size: 1em; /* 1 * 16 = 16px */
  font-family: "Times New Roman", Times, serif;
}





/*Side menu ----------------------------------------------------------------*/
.sidenav  {
  font-family: "Times New Roman", Times, serif;
  height: 100%;
  width: var(--side-width);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--desktop-color);
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  font-family: "Times New Roman", Times, serif;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
  color: var(--darkgrey);
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: var(--desktop-text-color);
  padding-left: 8px;
}


a.active, .dropdown-btn.active {
  background-color: var(--blue);
  color: var(--desktop-text-color);
  font-style: italic;
}

.sidenav a:hover:not(.active), .dropdown-btn:hover {
  background-color: var(--red);
  color: var(--desktop-text-color);
}
/*--------------------------------------------------------------------------------------------------------*/

/*Intro*/
.intro {
  padding: 10px;
  gap: 10px;  
}

/*Project section*/
.container { /* holds all project windows and positions them into rows of 4 */
  height: var(--pane-default-height);
  padding: 10px;
  gap: 10px;  
  position: relative;
  display: grid;
  z-index: 4;
} 

.pane { /* window pane container divs */
  display: grid;
  border-radius: var(--pane-border-radius); 
  border: 2px solid #1126F9; 
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
  background-color: var(--desktop-color);
  overflow: hidden;
}

.pane .title {
  cursor: move;
  user-select: none;
  touch-action: none;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 16px;
  background-color: var(--title-bar-color);
  color: var(--title-bar-text-color);
  /* prevent scrolling while touching a window in mobile*/
  user-select: none;
  touch-action: none;
}

.pane a {
  padding: 4px;
  color: var(--darkgrey);
  background-color: transparent;
  text-decoration: none;
}

.pane p {
  z-index: -2;
  color: var(--darkgrey);
  background-color: transparent;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 2px;

}

a:active {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

.pane .mask{ /* masking the area of the window to show image and text content*/
  clip-path: inset(0% 0% 0% 0%);
}

/* has the img fixed position in the correct place!!!!!*/
.pane .mask img{     /* fixed position doesnt allow moving when scrolling */
  position: fixed;
}

/* add a corner in bottom right */
.pane .corner {
  user-select: none;
  touch-action: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 24px;

  /* north west to south east */
  cursor: nwse-resize;

  /* background-color: red;  indicate theres smth about the corner*/
  /* prevent scrolling while touching a window in mobile*/
  user-select: none;
  touch-action: none;
}

.pane.is-dragging .title {
  background-color: var(--title-bar-highlight-color);
}

